/* General Resets
=======================*/
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	   		box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
	font-size: 12px;
}

form {
	max-width: 900px;
	margin: 0 auto;
	padding: 15px;
	background: #f8f8f8;
	border: 1px solid #e1e1e1;
}

/* Form Control
=======================*/
.form-control {
	margin: 0;
	padding: 0;
	list-style: none;
}

.form-control > li {
	padding: 10px;
	overflow: hidden;
}

.form-control > li > label {
	display: block;
	cursor: pointer;
}

.form-control > li > label + input,
.form-control > li > label + select,
.form-control > li > label + textarea,
.form-control > li > label + datalist select, 
.form-control > li > label + datalist + input {
	width: 100%;
	margin: 0;
	outline: none;
}

.form-control .error {
	display: none;
	text-align: right;
}

@media screen and (min-width: 600px) {
	.form-control > li > label {
		width: 22%;
		float: left;
	}
	
	.form-control > li > label + input,
	.form-control > li > label + select,
	.form-control > li > label + textarea,
	.form-control > li > label + datalist select, 
	.form-control > li > label + datalist + input {
		width: 78%;
	}
	
	.form-control > li > label + datalist + input {
		float: right;
	}
}

/* HTML5 Field Types
=======================*/
input[type=text] {
	color: 333;
}

input[type=email] {
	color: #ff8800
}

input[type=range] {
	border: 1px solid #333;
}

input[type=submit] {
	background: #ff8800;
}

/* HTML5 Form Validation
=======================*/
.form-submit input:not([type="submit"]):valid {
	border: 1px solid #aaffb4;
}

.form-submit input:not([type="submit"]):invalid {
	border: 1px solid #d03535;
}

.form-submit input:not([type="submit"]):invalid + .error {
	display: block;
}
